# Ignore Python virtualenv and common clutter
myflix/
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.swp
.pytest_cache/
.mypy_cache/
.venv/
.env
.DS_Store
.vscode/
env/
venv/
# Database files
*.db
